div {
    color: white
}
nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    height: 70px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 22
}
.logo img {
    width: 10rem;
    height: auto;
    cursor: pointer;
    margin-left: 10px
}
.headersign {
    height: 100vh;
    width: 100%;
    background: black;
    position: relative;
}

.headersign > img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.85);
}

.dark {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, 
    rgba(0, 0, 0, 0.8) 0, 
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0.8) 100%);
}

.signin_main{
    width: 100%;
    text-align: center;
    top: 30%
}

/* Form */
.form {
    padding: 60px 90px;
    background:rgba(0, 0, 0, 0.76);
    text-align: left;
    width: 40%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px
}
.form h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 25px 0
}
.form > input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: rgba(31, 30, 30, 0.829);
    margin: 15px 0 0;
    color: white;
    padding-left: 20px;
    font-size: 1rem;
}

.signinn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 11px 25px;
    background: #dd1f28;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    margin: 30px 0 10px;
}

.signinn:hover{
    background: #c7151e;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px
}

.check {
    color: #818181;
    display: flex;
}

.cont a {
    color: #818181;
    text-decoration: none;
}

.newSignup, .desc {
    color: #818181;
    margin-top: 10px
}

.newSignup a {
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}
.desc span {
    color: rgb(0, 140, 255)
}

@media only screen and (max-width: 990px){
    .form {
        padding: 20px 20px
    }
}
@media only screen and (max-width: 500px){
    .logo img {
        width: 8rem;
    }
    .form {
        padding: 10px 20px;
        width: 80%;
    }
    .form > input {
        height: 40px
    }
    .signinn {
        height: 40px;
    }
    .newSignup {
        font-size: 0.9rem;
    }
    .desc {
        font-size: 0.8rem;
    }
    .checkcont {
        font-size: 0.9rem;
    }
}